<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{includes/main_layout}">
<head>
    <title>CMS |student registration</title>
</head>
<body class="main-body">
<div layout:fragment="content">
    <div class="container">
        <div class="col-md-10 offset-sm-1 mt-50">
            <h3>Student Registration Form </h3>
            <hr>
            <div class="alert alert-danger" th:if="${userExist}">
                <h4 th:text="${userExist}"></h4>
            </div>

            <div class="alert alert-info" th:if="${success}">
                <h4 th:text="${success}"></h4>
            </div>

            <form action="#" th:action="@{/students/create}" th:object="${student}" method="POST">

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label">First name</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{firstName}" class="form-control"
                               id="firstName">
                        <div class="text-danger"  th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}">Name Error</div>
                    </div>
                </div>

                 <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{lastName}" class="form-control"
                               id="lastName">
                        <div class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                             th:errors="*{lastName}">Name Error</div>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email Address</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" th:field="*{email}" name="email" id="email">
                        <div class="text-danger"  th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}">Email Error</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" th:field="*{password}" class="form-control"
                               id="password">
                        <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}">Password Error</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Gender</label>
                    <div class="form-check form-check-inline col-sm-2">
                        <input class="form-check-input" th:field="*{gender}" type="radio"
                               id="male" value="M">
                        <label class="form-check-label" for="male">Male</label>
                    </div>

                    <div class="form-check form-check-inline col-sm-2">
                        <input class="form-check-input" th:field="*{gender}" type="radio"
                               id="female" value="F">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('gender')}"
                         th:errors="*{gender}">Gender Error</div>
                </div>

                <hr>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-primary" value="Submit"/>
                    </div>

                    <a class="col-md-4" th:href="@{__${T(com.softpager.cms.utils.CMSMapping).ALL}__}">
                        See all students
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>




