<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CMS | profile </title>

    <div th:replace="~{/includes/css-links :: cssFragment}"></div>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <!--Card with Media-->
</head>
<body>

<div class="container offset-md-1">

     <div class="media block-update-card mt-md-5">
        <a class="pull-left" href="#">
            <img class="media-object update-card-MDimentions" src="http://3.bp.blogspot.com/-IbEOTNtCMyU/TfCAdHaAxEI/AAAAAAAAA8U/EATib38SSAM/s320/joe-mcelderry.jpg" alt="...">
        </a>
        <div class="media-body update-card-body ml-4">
            <h4 class="media-heading">Student Registration Information</h4>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Gender</p>
            <p>Email Address</p>
            <p>Registration Date</p>
            <p>Last Updated</p>
        </div>
     </div>
    <!--Simple Card Layout-->
    <div class="block-update-card mt-1">
        <div class="update-card-body">
            <a th:href="@{students/photo}"> Upload photo</a>
        </div>
        <div class="container offset-md-4">
            <div class="row ">
                <a class="col-md-2" th:href="@{/students/update(studentId=${student.id})}">
                    Edit information
                </a>
                <a class="col-md-2" th:href="@{/students/update(studentId=${student.id})}">
                    Cancel Registration
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        <a class="col-sm-2" th:href="@{/students/remove-course}"><i class="fas fa-trash"></i></a>
        <h5 class="col-md-4  offset-md-2 mt-2">Registered Courses</h5>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
        <tr>
            <th><input type="checkbox"></th>
            <th>Code</th>
            <th> Title</th>
            <th>Number of Credits</th>
            <th>Lecturer</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr align="center">
            <td><input type="checkbox"></td>
             <td th:text="${student.id}" />
             <td th:text="${student.firstName}" />
            <td th:text="${student.lastName}" />
            <td th:text="${student.gender}" />
            <td th:text="${student.email}" />
        </tr>
        </tbody>
    </table>
    <br><br>

    <footer th:replace="~{includes/footer :: footer}">
        <p>Footer contents go here </p>
    </footer>
</div>
</div>
</body>
</html>
