<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CMS | students </title>

    <div th:replace="~{/includes/css-links :: cssFragment}"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <h3>Registered Students</h3>
    <hr>

    <div class="container">
    <div class="row mb-3">


        <a th:href="@{/students/new}"
           class="btn btn-primary btn-sm col-sm-2">
            Add Student
        </a>

        <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="Enter student name to search"
                   aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <span class="input-group-text btn btn-primary" id="basic-addon2">Search</span>
            </div>
        </div>

        <select class="form-control col-sm-2">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>

    </div>
    </div>


    <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Registration Date</th>
            <th>Last Updated</th>
            <th align="center" colspan="4">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.firstName}" />
            <td th:text="${student.lastName}" />
            <td th:text="${student.email}" />
            <td th:text="${#dates.format(student.createdAt,'dd-MMM-yyyy')}" />
            <td th:text="${#dates.format(student.updatedAt,'dd-MMM-yyyy')}" />
            <td><a th:href="@{/students/profile}">View details</a> </td>
            <td>
                <a th:href="@{/students/update}" class="btn btn-info btn-sm">
                    Edit
                </a>
            </td>
            <td>
                <a th:href="@{/students/delete}" class="btn btn-danger btn-sm">
               Delete
            </a>
            </td>

        </tr>
        </tbody>
    </table>
    <nav class="border-info">
        <ul class="nav nav-pills pagination">
            <li class="nav-item"
                th:each="i: ${#numbers.sequence(0, students.totalPages-1)}">
                <a th:href="@{/students/(page=${i})}" th:text="${i}"
                   class="nav-link"  th:classappend="${currentPage}==${i}? 'active':''"/>
            </li>
        </ul>
    </nav>
<br><br>







        <footer th:replace="~{includes/footer :: footer}">
            <p>Footer contents go here </p>
        </footer>
    </div>
</div>
</body>
</html>
