<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{includes/main_layout}">
<head>

</head>
<body class="main-body">
<div layout:fragment="content" class="container"><br>

    <!------ Include the above in your HEAD tag ---------->
    <div th:replace="includes/admin-header :: adminHeader"></div>
        <div class="row">

            <div class="col-lg-12 admin-tab-container mt-50">
                <div th:if="${message}">
                <h4 class="alert alert-info" th:text="${message}"></h4>
                </div>
                        <section>
                            <h2 class="glyphicon glyphicon-user admin-tabs">
                                admin
                            </h2>
                        </section>
                        <a href="#" th:text="'Current Administrators : ' + ' '+${admins}"></a><br>

                    <a th:href="@{/admin/new}" class="btn btn-primary btn-sm">
                        Add admin
                    </a>
            </div>
        </div>
    </div>
</body>
</html>