<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{includes/main_layout}">
    <title>Role</title>
</head>
<body class="main-body">
<div layout:fragment="content">

    <div class="container"><br>
        <!-- Slider Area Start -->
        <div th:replace="includes/admin-header :: adminHeader"></div>
        <!-- Slider Area End -->

    <div class="col-md-10 mt-30">

        <div class="alert alert-info" th:if="${message}">
            <span th:text="${message}"></span>
        </div>

        <div class="alert alert-info" th:if="${roleAlreadyExist}">
            <span th:text="${roleAlreadyExist}"></span>
        </div>

        <h3>Create new role</h3>
        <form th:action="@{/admin/roles/add-role}" th:object="${role}" method="post">
            <table class="table table-bordered">
                <thead class="text-center">
                <tr>
                    <th>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="btn btn-default btn-sm">Enter role name to add</span>
                            </div>
                            <input type="text" th:field="*{name}" class="form-control"
                                   placeholder="enter name of role to add">
                            <div class="input-group-append">
                                <input type="submit" value="Add role" class="btn btn-primary btn-sm">
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <div class="text-danger" th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}">Name Error</div>
            </table>
        </form>


        <section>
            <h3>Currently existing roles</h3>
            <form  th:action="@{/admin/roles/assign-user-to-roles}" th:object="${roleId}" method="post">
                <h5 class="test-primary">Select a role to assign user</h5>
                <table  class="table  table-striped table-bordered table-hover">
                    <thead class="text-center">
                       <tr>
                        <th>Select</th>
                        <th colspan="1">Role</th>
                        <th colspan="1">Action</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr th:each="role:${roles}">
                        <td>
                            <input type="radio" name="roleId" th:value="${role.id}"/>
                        </td>

                        <td th:text="${role.name}" colspan="1"></td>

                        <td>
                            <a th:href="@{/admin/roles/delete(name=${role.name})}">
                                delete
                            </a>
                        </td>

                    </tr>
               </tbody>
                </table>
                 <div class="input-group-append">
                    <input type="submit" value="assign role user " class="btn btn-primary btn-sm">
                </div>
            </form>
        </section>
    </div>
    </div>
</div>
</body>
</html>