<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CMS |Instructor profile </title>

    <div th:replace="~{/includes/css-links :: cssFragment}"></div>
    <!--Card with Media-->
</head>
<body>
<div th:replace="~{/includes/nav-bar :: navBar}"></div><br><br><br>


<div class="container offset-md-1">
    <!-- Start Student information table-->
    <div class="media block-update-card">

        <div class="row">
            <div class="media-body update-card-body ml-3">
                <h4 class="media-heading mb-2">Instructor Information</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th rowspan="7">
                            <a class="pull-left" href="#">
                                <img class="media-object update-card-MDimentions"
                                     style="width:250px;height:250px;" src="/static/images/placeholder.jpeg"
                                     th:src="@{/photo/user/photo(userEmail=${instructor.email})}"/>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">First Name </th>
                        <td colspan="4" th:text="${instructor.firstName}" >The First Name</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name </th>
                        <td colspan="4" th:text="${instructor.lastName}" >The Last Name</td>
                    </tr>
                    <tr>
                        <th scope="row">Gender </th>
                        <td colspan="4" th:text="${instructor.gender}" >The Instructor Gender</td>
                    </tr>
                    <tr>
                        <th scope="row">Email Address </th>
                        <td colspan="4" th:text="${instructor.email}" >instructor Email Address</td>
                    </tr>
                    <tr>
                        <th scope="row">Registration Date </th>
                        <td colspan="4" th:text="${#dates.format(instructor.createdAt, 'dd-MMM-yyyy')}" >Registration Date</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Updated </th>
                        <td colspan="4" th:text="${#dates.format(instructor.updatedAt ,'dd-MMM-yyyy')}" >Last updated</td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="@{/photo/form(email=${instructor.email})}"> Update photo</a>
                        </td>
                        <td>
                            <a class="col-md-2" th:href="@{/instructors/update(instructorEmail=${instructor.email})}">
                                Edit information
                            </a>
                        </td>
                        <td>
                            <a class="col-md-2" th:href="@{/instructors/delte(instructorEmail=${instructor.email})}">
                                Remove Instructor
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--End Student information table-->

    <!--Start registered course table-->
    <div class="row">
        <div class="col-sm-4">
            <a class="col-sm-2" th:href="@{/instructors}">Back to instructors list</i></a>
        </div>

        <div class="col-sm-6"> <h4>Assigned Courses</h4> </div>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
        <tr>
            <th><input type="checkbox"></th>
            <th>Course Code</th>
            <th> Course Title</th>
            <th>Number of Credits</th>
            <th>Lecturer</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center">
            <td><input type="checkbox"></td>
            <td th:text="${instructor.email}" />
            <td th:text="${instructor.firstName}" />
            <td th:text="${instructor.lastName}" />
            <td th:text="${instructor.gender}" />
            <td th:text="${instructor.email}" />
        </tr>
        </tbody>
    </table>
    <!--End registered course table-->

    <br><br>

    <footer th:replace="~{includes/footer :: footer}">
        <p>Footer contents go here </p>
    </footer>
</div>
</div>
</body>
</html>
