<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CMS | Courses </title>

    <div th:replace="~{/includes/css-links :: cssFragment}"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{/includes/nav-bar :: navBar}"></div>

<div class="container">

    <h3>Available Course</h3>
    <hr>

    <div class="container">
        <div class="row mb-3">
            <a th:href="@{/courses/new}"
               class="btn btn-primary btn-sm col-sm-2">
                Add New Course
            </a>

            <div class="input-group col-md-8">
                <input type="text" class="form-control" placeholder="Enter student name to search"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text btn btn-primary" id="basic-addon2">Search</span>
                </div>
            </div>

            <select class="form-control col-sm-2">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>

        </div>
    </div>
       <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
        <tr>
            <th>Course title</th>
            <th>Credits</th>
            <th>Instructor</th>
            <th align="center" colspan="3">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td nowrap="4" th:text="${course.title}" />

            <td th:text="${course.numberOfCredits}" />
            <td>
                <a th:href="@{/courses/course(courseId=${course.id})}">
                view course content
            </a>
            </td>
            <td>
                <a th:href="@{/courses/update(courseId=${course.id})}"
                   class="btn btn-info btn-sm">
                    Edit
                </a>
            </td>
            <td>
                <a th:href="@{/courses/delete(courseId=${course.id})}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav class="border-info">
        <ul class="nav nav-pills pagination">
            <li class="nav-item"
                th:each="i: ${#numbers.sequence(0, courses.totalPages-1)}">
                <a th:href="@{/courses(page=${i})}" th:text="${i}"
                   class="nav-link"  th:classappend="${currentPage}==${i}? 'active':''"/>
            </li>
        </ul>
    </nav>
    <br>

    <footer th:replace="~{includes/footer :: footer}">
        <p>Footer contents go here </p>
    </footer>
</div>
</div>
</body>
</html>
