<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{includes/main_layout}">
<head>

</head>
<body class="main-body">
<div layout:fragment="content">

    <div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="page-title" th:text="${course.title}"></h1>
                        <small class="page-title">Overview</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Courses Details Start -->
    <div class="rs-courses-details pt-50 pb-20 offset-col-2">
        <div class="container">
            <div class="row mb-2">
                <div class="col-lg-10 col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="course-meta-style">
                                <li class="author">
                                    <div class="image">
                                        <img src="/images/teachers/2.jpg"
                                             th:src="@{/images/teachers/2.jpg}" width="60"
                                             alt="">
                                    </div>
                                    <div class="author-name">
                                        <a href="#">Alex Hilfisher</a>
                                        <p>Instructor</p>
                                    </div>
                                </li>
                                <li class="categories">
                                    <a href="#" class="course-name">Spoken English</a>
                                    <p>Categories</p>
                                </li>
                            </ul>
                        </div>


                        <div class="col-md-1" sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="btn-area">
                                <a href="#"
                                   th:href="@{/courses/admin/delete-course(courseId=${course.id})}">
                                    Delete</a>
                            </div>
                        </div>

                        <div class="col-md-1" sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="btn-info">
                                <a href="#"
                                   th:href="@{/courses/admin/update-course(courseId=${course.id})}">
                                    Edit</a>
                            </div>
                         </div>


                        <div class="col-md-4">
                            <div class="btn-area">
                                <a href="#"
                                   th:href="@{/courses/register-for-course(courseId=${course.id})}">
                                    Enroll this course</a>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="course-des-tabs">
                                <div class="tab-btm">
                                    <!-- Nav tabs -->
                                    <div class="tabs-wrapper">
                                        <ul class="nav classic-tabs tabs-cyan" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link waves-light active" data-toggle="tab" href="#panel51"
                                                   role="tab">Description</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link waves-light" data-toggle="tab" href="#curriculum"
                                                   role="tab">Curriculum</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link waves-light" data-toggle="tab" href="#instructors"
                                                   role="tab">Instructors</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- Tab panels -->
                                <div class="tab-content card">
                                    <!--Panel 1-->
                                    <div class="tab-pane fade in active show" id="panel51" role="tabpanel">

                                        <h4>Course Details</h4>
                                        <p th:text="${course.description}"></p>

                                        <table class="mb-4 mt-2">
                                            <thead>
                                            <tr>
                                                <th><h4>Number Of Credits :</h4></th>
                                                <th><h4 th:text="${course.numberOfCredits}"></h4>
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>

                                        <h4>Requirements</h4>
                                        <ul class="requirements-list">
                                            <li>Lorem ipsum dolor sit elit</li>
                                            <li>Sed posuere at lectus ac fringilla</li>
                                            <li>Aliquam mollis dolor libero</li>
                                            <li>Sagittis velit dignissim</li>
                                        </ul>
                                    </div>


                                    <!--/.Panel 1-->
                                    <!--Panel 2-->
                                    <div class="tab-pane fade" id="curriculum" role="tabpanel">
                                        <div class="course-syllabus">
                                            <h4 class="desc-title">SECTION 1 : INTRODUCTION</h4>
                                            <div id="accordion" class="rs-accordion-style1">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <h3 class="acdn-title" data-toggle="collapse"
                                                            data-target="#collapseOne" aria-expanded="true"
                                                            aria-controls="collapseOne">
                                                            <strong>Lessons 1: </strong>
                                                            <span>Introduction to computer</span>
                                                        </h3>
                                                    </div>
                                                    <div id="collapseOne" class="collapse show"
                                                         aria-labelledby="headingOne"
                                                         data-parent="#accordion">
                                                        <div class="card-body">
                                                            There are many variations of passages of Lorem
                                                            Ipsum available, but the majority have suffered alteration
                                                            in some form,
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h3 class="acdn-title collapsed" data-toggle="collapse"
                                                            data-target="#collapseTwo" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                            <strong>Lessons 2: </strong><span>Introduction to programming</span>
                                                        </h3>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                         data-parent="#accordion">
                                                        <div class="card-body">
                                                            There are many variations of passages of Lorem Ipsum
                                                            available, but the majority have suffered alteration

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header mb-0" id="headingThree">
                                                        <h3 class="acdn-title collapsed" data-toggle="collapse"
                                                            data-target="#collapseThree" aria-expanded="false"
                                                            aria-controls="collapseThree">
                                                            <strong>Lessons 3: </strong>
                                                            <span></span>
                                                        </h3>
                                                    </div>
                                                    <div id="collapseThree" class="collapse"
                                                         aria-labelledby="headingThree" data-parent="#accordion">
                                                        <div class="card-body">
                                                            There are many variations of passages of Lorem
                                                            Ipsum available, but the majority have suffered
                                                            alteration in some form
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <h4 class="desc-title mt-30">SECTION 2 : GETTING STARTED WITH THE
                                                COURSE</h4>
                                            <div id="accordiontTwo" class="rs-accordion-style1">
                                                <div class="card">
                                                    <div class="card-header" id="headingFour">
                                                        <h3 class="acdn-title collapsed" data-toggle="collapse"
                                                            data-target="#collapseFour" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                            <strong>Lessons
                                                                4: </strong><span>Introduction to the Course</span>
                                                        </h3>
                                                    </div>
                                                    <div id="collapseFour" class="collapse"
                                                         aria-labelledby="headingFour" data-parent="#accordiontTwo">
                                                        <div class="card-body">
                                                            There are many variations of passages of Lorem Ipsum
                                                            available,
                                                            but the majority have suffered alteration in some form
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingFive">
                                                        <h3 class="acdn-title collapsed" data-toggle="collapse"
                                                            data-target="#collapseFive" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                            <strong>Lessons
                                                                5: </strong><span>Digging deep in the course</span>
                                                        </h3>
                                                    </div>
                                                    <div id="collapseFive" class="collapse"
                                                         aria-labelledby="headingFive"
                                                         data-parent="#accordiontTwo">
                                                        <div class="card-body">
                                                            There are many variations of passages of Lorem Ipsum
                                                            available,
                                                            but the majority have suffered alteration in some form,
                                                            by injected humour.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingSix">
                                                        <h3 class="acdn-title collapsed" data-toggle="collapse"
                                                            data-target="#collapseSix" aria-expanded="false"
                                                            aria-controls="collapseThree">
                                                            <strong>Lessons 6: </strong>
                                                            <span>Digging deeper into the course</span>
                                                        </h3>
                                                    </div>
                                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                                         data-parent="#accordiontTwo">
                                                        <div class="card-body">
                                                            There are many variations of passages of Lorem Ipsum
                                                            available,
                                                            but the majority have suffered alteration in some form,
                                                            by injected humour.
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Panel 2-->

                                    <!--Panel 3-->
                                    <div class="tab-pane fade" id="instructors" role="tabpanel">
                                        <div class="instructor-list">
                                            <div class="image">
                                                <img src="/images/teachers/2.jpg" th:src="@{/images/teachers/2.jpg}"
                                                     width="150" alt="">
                                            </div>
                                            <div class="author-name">
                                                <a href="#"><h4>John Doe</h4></a>
                                                <span>Professor</span>
                                                <div class="social-icon">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="dsc">There are many variations of passages of Lorem Ipsum
                                                available, but the majority have suffered altera tion in some form, by
                                                injected humour, or randomised words which don't look even slightly
                                                believable. If you are going to use a passage of Lorem Ipsum
                                            </p>
                                        </div>
                                        <!--/.Panel 4-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container pt-20">
                <!-- Testimonial Start -->
                <div class="related-courses rs-courses-3">
                    <div class="sec-title-2 mb-50">
                        <h2>RELATED COURSES</h2>
                        <p>Considering primary motivation for the generation of narratives is a useful concept</p>
                        <div class="view-more">
                            <a href="/courses" th:href="@{/}">View All Courses <i class="fa fa-angle-double-right">
                            </i></a>
                        </div>
                    </div>

                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30"
                         data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="1500" data-nav="true"
                         data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true"
                         data-ipad-device="2" data-ipad-device-nav="true" data-md-device="3" data-md-device-nav="true">


                        <div class="course-item" th:each="course : ${courses}">
                            <div class="course-img">
                                <img src="/images/courses/10.jpg" th:src="@{/images/courses/10.jpg}" alt=""/>
                                <div class="course-toolbar">
                                    <h4 class="course-category">
                                        <a href="#"
                                           th:href="@{/courses/course(courseId=${course.id})}">
                                            View Details</a></h4>
                                </div>
                            </div>
                            <div class="course-body">
                                <div class="course-desc">
                                    <h3 class="course-title">
                                        <a href="#" th:text="${course.title}">
                                            Diploma Electrical</a></h3>
                                    <p th:text="${course.description}">
                                    </p>
                                </div>
                            </div>

                            <div class="course-footer">
                                <div class="course-button">
                                    <a href="#"
                                       th:href="@{/courses/add-user-course(courseId=${course.id},userEmail=${email})}">
                                        ENROLL THIS COURSE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
