<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{includes/main_layout}">
<head>
    <title>CMS | all-courses </title>
</head>
<body class="main-body">
<div layout:fragment="content" class="container">
    <div class="row mt-50 mb-3">
        <a th:href="@{/admin/course-form}"
           class="btn btn-primary btn-sm col-sm-2">
            Add New Course
        </a>

        <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="Enter student name to search"
                   aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text btn btn-primary" id="basic-addon2">Search</span>
            </div>
        </div>

        <select class="form-control col-sm-2">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
        <tr>
            <th><input type="checkbox" id="checkAll"></th>
            <th>Course title</th>
            <th>Credits</th>
            <th>Instructor</th>
            <th align="center" colspan="4">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td><input type="checkbox" class="checkbox"></td>
            <td nowrap="4" th:text="${course.title}"/>

            <td th:text="${course.numberOfCredits}"/>
            <td>
                <a th:href="@{/courses/course(courseId=${course.id})}">
                    view course content
                </a>
            </td>
            <td>
                <a th:href="@{/admin/update-course(courseId=${course.id})}"
                   class="btn btn-info btn-sm">
                    Edit
                </a>
            </td>
            <td>
                <a th:href="@{/admin/delete-course(courseId=${course.id})}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>
            </td>
            <td>
                <form action="@{/courses/enrol-for-course}" method="post">
                    <a th:href="@{/courses/add-user-course(courseId=${course.id},userEmail=${email})}"
                       class="btn btn-primary btn-sm">
                        register for course
                    </a>

                </form>

            </td>
        </tr>
        </tbody>
    </table>
    <nav class="border-info">
        <ul class="nav nav-pills pagination">
            <li class="nav-item"
                th:each="i: ${#numbers.sequence(0, courses.totalPages-1)}">
                <a th:href="@{/courses(page=${i})}" th:text="${i}"
                   class="nav-link" th:classappend="${currentPage}==${i}? 'active':''"/>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>
