<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          ntegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="main-body">
<br><br><br>
<div class="container mt-100">
   <h3 class=" alert alert-info" th:text="${errorMessage}"></h3>

    <h4>
        <a th:href="@{/}" th:text="${goBack}"></a>
        <a th:href="@{/user/profile}" th:text="${goBackToProfile}">
        </a>
    </h4>
</div>
</body>
</html>