<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CMS | Home</title>

    <div th:replace="~{/includes/css-links :: cssFragment}"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/styles.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{/includes/nav-bar :: navBar}"></div>

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">
</header>

<!-- Content section -->
<!--<img th:src="@{/images/edu1.jpg}"/>-->
<section class="py-4">
    <div class="container offset-md-4">
        <h3>Course Management System</h3>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Footer -->
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CMS 2019</p>
    </div>
</footer>

</body>

</html>
