<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{includes/main_layout}">
<head>
    <title>CMS | Login</title>
</head>
<body>
<div layout:fragment="content" class="container">

<div class="col-md-6 offset-md-3 mt-lg-10">
    <h3 class="form-signin-heading"> Log In</h3>
    <br/>
    <div align="center" th:if="${param.error}">
        <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify and try again</p>
    </div>
    <form th:action="@{/login}" method="POST" class="form-signin">

        <input type="text" id="email" name="username" placeholder="enter you username or email"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <input type="Submit" class="btn btn-sm btn-primary" value="Login"/>
    </form>
</div>
</div>
</body>
</html>