<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CMS | Photo Upload</title>
    <div th:replace="includes/css-links :: cssFragment"></div>
</head>
<body>
    <div class="container pt-50">
        <div class="upload-header col-6 mt-10">
            <p>
            <h5>Upload a profile photo that you would like to display with your account</h5>
            </p>
        </div>

        <form th:action="@{/photo/upload(userEmail=${user.email})}" method="post"
              th:object="${user}" enctype="multipart/form-data">
                <input type="hidden" name="email" class="form-control" th:field="*{email}"/>
            <div class="input-group col-md-8 mb-3">
                <input type="file" name="file" class="file-input form-control" required/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary submit-btn">upload</button>
                </div>
            </div>
            <a th:href="@{/user/profile}">back to my profile</a>
        </form>
    </div>
</body>
</html>