<div th:fragment="jsFragment">
    <!-- modernizr js -->
    <script src="/js/modernizr-2.8.3.min.js"
            th:src="@{/js/modernizr-2.8.3.min.js}"></script>

    <script src="/js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>

    <script src="/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>

    <!-- owl.carousel js -->
    <script src="/js/owl.carousel.min.js"
            th:src="@{/js/owl.carousel.min.js}"></script>

    <!-- slick.min js -->
    <script src="/js/slick.min.js"
            th:src="@{/js/slick.min.js}"></script>

    <!-- isotope.pkgd.min js -->
    <script src="/js/isotope.pkgd.min.js"
            th:src="@{/js/isotope.pkgd.min.js}"></script>


    <!-- imagesloaded.pkgd.min js -->
    <script src="/js/imagesloaded.pkgd.min.js"
            th:src="@{/js/imagesloaded.pkgd.min.js}"></script>

    <script src="/js/rsmenu-main.js"
            th:src="@{/js/rsmenu-main.js}"></script>


    <script src="/js/plugins.js"
            th:src="@{/js/plugins.js}"></script>


    <script src="/js/main.js"
            th:src="@{/js/main.js}"></script>


    <script src="/static/bootstrap/js/nav-active.js"
            th:src="@{/js/nav-active.js}"></script>






</div>

