<div th:fragment="jsFragment">

    <!-- modernizr js -->
    <script src="/js/modernizr-2.8.3.min.js"></script>

    <script src="/js/jquery.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- slick.min js -->
    <script src="/js/slick.min.js"></script>
    <!-- isotope.pkgd.min js -->
    <script src="/js/isotope.pkgd.min.js"></script>

    <!-- imagesloaded.pkgd.min js -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>

    <script src="/js/rsmenu-main.js"></script>


    <script src="/js/plugins.js"></script>

    <script src="/js/main.js"></script>


</div>

